<%-include('../partials/header') %>
<div class="page-wrapper">
  <main class="main">
    <div
      class="page-header text-center"
      style="background-image: url('assets/images/page-header-bg.jpg')"
    >
      <div class="container">
        <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
      </div>
      <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <div class="page-content">
      <div class="cart">
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <table class="table table-cart table-mobile">
                <thead>
                  <tr>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <%getCart[0].cart_items.forEach((e)=>{ %>

                  <tr>
                    <td class="product-col">
                      <div >
                       
                          <object data="../data/uploads/<%= e.product.pImage %>" class="card-img-top"
                            >
                            <img src="../data/uploads/noImage.png" class="card-img-top"
                            />
                          </object>
                       

                        <!-- <h3 class="product-title">
                          <a href="#"><%= e.product.pName %></a>
                        </h3> -->
                        <td class="price-col"><%= e.product.pName %></td>

                        <!-- End .product-title -->
                      </div>
                      <!-- End .product -->
                    </td>
                    <td class="price-col">Rs. <%= e.product.pCost%></td>
                    <td class="quantity-col">
                      <div class="cart-product-quantity">
                        <input
                          type="number"
                          class="form-control"
                          name="quantity" 
                          value="<%= e.quantity%>"
                          min="1"
                          max="10"
                          step="1"
                          data-decimals="0"
                          required
                        />
                      </div>
                      <!-- End .cart-product-quantity -->
                    </td>
                    
                    <td class="total-col">Rs. <%= e.price%></td>
                    <!-- <td class="remove-col">
                      <button class="btn-remove">
                        <i class="icon-close"></i>
                      </button>
                    </td> -->
                    <!-- <td><i class="fa fa-trash" aria-hidden="true"></i></td> -->
                    <td ><a href='/cartItem/deleteItem/<%= e.item_id %>'
                      
                      ><i class="fa fa-trash" aria-hidden="true"></i></a>
              </td>
                  </tr>
                  <%})%>

                </tbody>
              </table>
              <!-- End .table table-wishlist -->

              
              <div class="cart-bottom">
                <button type="submit" class="btn btn-primary px-5">
                  Update Cart
                </button>
                <!-- <a href="#" class="btn btn-outline-dark-2"
                  ><span>UPDATE CART</span><i class="icon-refresh"></i
                ></a> -->
              </div>
              <!-- End .cart-bottom -->
            </div>
            <!-- End .col-lg-9 -->
            <aside class="col-lg-3">
              <div class="summary summary-cart">
                <h3 class="summary-title">Cart Total</h3>
                <!-- End .summary-title -->

                <table class="table table-summary">
                  <tbody>
                    <tr class="summary-subtotal">
                      <td>Subtotal:</td>
                      <td>$160.00</td>
                    </tr>
                    <!-- End .summary-subtotal -->
                    <tr class="summary-shipping">
                      <td>Shipping:</td>
                      <td>&nbsp;</td>
                    </tr>

                    <tr class="summary-shipping-row">
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="free-shipping"
                            name="shipping"
                            class="custom-control-input"
                          />
                          <label
                            class="custom-control-label"
                            for="free-shipping"
                            >Free Shipping</label
                          >
                        </div>
                        <!-- End .custom-control -->
                      </td>
                      <td>$0.00</td>
                    </tr>
                    <!-- End .summary-shipping-row -->

                    <tr class="summary-shipping-row">
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="standart-shipping"
                            name="shipping"
                            class="custom-control-input"
                          />
                          <label
                            class="custom-control-label"
                            for="standart-shipping"
                            >Standart:</label
                          >
                        </div>
                        <!-- End .custom-control -->
                      </td>
                      <td>$10.00</td>
                    </tr>
                    <!-- End .summary-shipping-row -->

                    <tr class="summary-shipping-row">
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="express-shipping"
                            name="shipping"
                            class="custom-control-input"
                          />
                          <label
                            class="custom-control-label"
                            for="express-shipping"
                            >Express:</label
                          >
                        </div>
                        <!-- End .custom-control -->
                      </td>
                      <td>$20.00</td>
                    </tr>
                    <!-- End .summary-shipping-row -->

                    <tr class="summary-shipping-estimate">
                      <td>
                        Estimate for Your Country<br />
                        <a href="dashboard.html">Change address</a>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                    <!-- End .summary-shipping-estimate -->

                    <tr class="summary-total">
                      <td>Total:</td>
                      <td>$160.00 </td>
                    </tr>
                    <!-- End .summary-total -->
                  </tbody>
                </table>
                <!-- End .table table-summary -->

                <a
                  href="checkout.html"
                  class="btn btn-outline-primary-2 btn-order btn-block"
                  >PROCEED TO CHECKOUT</a
                >
              </div>
              <!-- End .summary -->

              <a
                href="category.html"
                class="btn btn-outline-dark-2 btn-block mb-3"
                ><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i
              ></a>
            </aside>
            <!-- End .col-lg-3 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .cart -->
    </div>
    <!-- End .page-content -->
  </main>
  <!-- End .main -->
</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top">
  <i class="icon-arrow-up"></i>
</button>
<!-- End .mobile-menu-container -->


<script>
  const editItem = document.querySelector("form");
  editItem.addEventListener("submit", async (e) => {
    e.preventDefault();
    try {
      const res = await fetch(
        "http://localhost:3000/cartItem/editItem/<%= getCart.cart_id %>",
        {
          method: "GET",
          body: JSON.stringify({
          quantity: editItem.quantity.value,
         
        }),
        headers: { "content-Type": "application/json" },
         }
      );
    } catch (err) {
      console.log(err);
    }
  });
</script>

<%-include('../partials/footer') %>
