<%-include('../partials/header') %>

<div class="card-group">
  <%category.forEach((e)=>{ %>
  <div class="card1">
    <object data="../data/uploads/<%= e.cat_img %>" class="card-img-top"
      onclick="window.location.href='/category/<%= e.cat_id %>/products'"
      >
      <img src="../data/uploads/noImage.png" class="card-img-top"
      onclick="window.location.href='/category/<%= e.cat_id %>/products'"
      />
    </object>
    <!-- <img
      src="<%= e.cat_img %>"
      class="card-img-top"
      alt="..."
      onclick="window.location.href='/category/<%= e.cat_id %>/products'"
    /> -->
    <div class="card-body">
      <h2 class="card-title"><%= e.catName %></h2>
      <p class="card-text"></p>
    </div>
  </div>
  <% }) %>
</div>
<%-include('../partials/footer') %>
