<%-include('../partials/header') %>

<div class="card-group">
  <%product.forEach((e)=>{ %>
    <div class="card1">
     <object data="../data/uploads/<%= e.pImage %>"  
      class="card-img-top"
      onclick="window.location.href='/product/<%= e.product_id %>'"
      >
      <img src="../data/uploads/noImage.png" 
      class="card-img-top"

        onclick="window.location.href='/product/<%= e.product_id %>'"
      >
    </object>
    <!-- <img
      src="../data/uploads/<%= e.pImage %>"
      class="card-img-top"
      alt="..."
      onclick="window.location.href='/product/<%= e.product_id %>'"
    /> -->
    <div class="card-body">
      <h5 class="card-title"><%= e.pName %></h5>
      <p class="card-text">Rs. <%=e.pCost%></p>
      <!-- <p class="card-text"><%= e.pDescription %></p> -->
    </div>
  </div>
  <% }) %>
</div>
<%-include('../partials/footer') %>
