<%-include('../partials/header') %>

<div class="card-group">
  <%product.forEach((e)=>{ %>
  <div class="card1">
    <object data="../data/uploads/<%= e.pImage %>" class="productDetail-img">
      <img src="../data/uploads/noImage.png" class="productDetail-img" />
    </object>
    <!-- <img
      class="productDetail-img"
      src="../data/uploads/<%= e.pImage %>"
      alt="..."
      onclick="window.location.href='/category'"
    /> -->
    <div class="card-body">
      <h5 class="card-title"><%= e.pName %></h5>
      <%category.forEach((cat)=>{if(e.cat_id==cat.cat_id){catName=cat.catName}})
      %>
      <p class="card-text">Category: <%=catName%></p>
      <p class="card-text">Rs. <%=e.pCost%></p>
      <p class="card-text"><%= e.pDescription %></p>

      <form>
        <input type="hidden" name="product_id" value="<%=e.product_id%>" /><br />
        <input type="hidden" name="price" value="<%=e.pCost%>" /><br />
      <div class="cart-product-quantity">
        <input
          type="number"
          name="quantity"
          class="form-control"
          value="1"
          min="1"
          max="30"
          step="1"
          data-decimals="0"
          required
        />
      </div>
      <input type="submit" value="Add to Cart" />
    </form>
      <!-- <button  class="checkout">Add to Cart</button> -->
    </div>
  </div>
  <% }) %>
</div>
<%-include('../partials/footer') %>

<script>
  const cartForm = document.querySelector("form");
  cartForm.addEventListener("submit", async (e) => {
    e.preventDefault();
    try {
      const res = await fetch("http://localhost:3000/cart/addCart", {
        method: "POST",
        body: JSON.stringify({
          product_id: cartForm.product_id.value,
          quantity: cartForm.quantity.value,
          price: cartForm.price.value,
        }),
        headers: { "content-Type": "application/json" },
      });
      // const data = await res.json();
      // console.log(data);

      // if (!data.status) {
      //   document.getElementById("message").innerHTML = data.error;
      // } else if (data.data.isAdmin) {
      //   location.assign(
      //     `../dashboard?name=${data.data.name}&email=${data.data.email}`
      //   );
      // } else {
      //   location.assign(
      //     `../user/home?name=${data.data.name}&email=${data.data.email}`
      //   );
      // }
    } catch (err) {
      console.log(err);
    }
  });
</script>
